@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
    </div>
    <br />
    
    <h2>Plan Your Visit</h2>
    <p>
        The Contozoo in Madison, WA is one of only a handful of admission free, community supported zoo's in the country.<br />
        Fully accredited by the Association of Zoos and Aquariums, our beautiful zoo features exhibits and attractions for the whole family<br />
        The zoo relies on support from the community to remain open and admission-free. If you'd like to help, please leave a donation in the donation tubes located throughout the zoo or donate online<br />
        All are welcome to Contozoo Zoo!
    </p>
    <br/>

    <h3>Hours:</h3>
    <h4 style="font-style:italic">Sun:   9am - 9pm</h4>
    <h4 style="font-style:italic">Mon:   9am - 9pm</h4>
    <h4 style="font-style:italic">Tues:  CLOSED</h4>
    <h4 style="font-style:italic">Wed:   9am - 9pm</h4>
    <h4 style="font-style:italic">Thurs: 9am - 9pm</h4>
    <h4 style="font-style:italic">Fri:   7am - 10pm</h4>
    <h4 style="font-style:italic">Sat:   7am - 10pm</h4>


</div>
